@using KhoaHocOnline.WebInstructor.Layout 

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <Login /> <!-- Nếu chưa đăng nhập thì hiện form Login -->
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Không tìm thấy trang này.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>